/*
 * pallete from 
              * http://paletton.com/palette.php?uid=53X0p0kllllaFw0g0qFqFg0w0aF
              * darkest blue for header: 080C3B
              * medium/bright purple for highlights: 482E74
              * light green for background:  708EA4 (or 728DA5) DAE0E3
              * darkest blue: 080C3B
 * */
body {
    /*background: url("./back.png") no-repeat center center fixed;*/
    font-family: "Futura";
    position: relative;
    background-color: #ced5da; /*#DAE0E3;*/
    /*
    background-image: url('assets/stars_back2.svg');
    height: 100%;
  width: 100%;
  */
}
/*body:after {
    position:absolute;
    top:0;
    bottom:0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: #DAE0E3;
        background-color: rgba(75, 86, 160, 0.7);

}*/
body::after {
      content: "";
    background-image: url('assets/stars_back2.svg');
          opacity: 0.2;
            top: 0;
              left: 0;
                bottom: 0;
                  right: 0;
                    position: absolute;
                      z-index: -1;   
                  }
h1, h2, h3, h4 {
    font-family: "Rockwell";
	color: black;
}

hr {
	border-top: 3px solid #866FA4;
}

svg {
    display: block;
}
.svgtitle {
}
.subtitle {
    color: #DAE0E3;
    font-style: bold;
}

.filler {
    background: #20B7AF;
    position: absolute;
    bottom: 50%;
    top: 0;
    left: 0;
    right: 0;
}

.navbar, 
footer{
    position:relative;
    background-image: url('assets/stars_back2.svg');
    background-color: #080C3B;
      background-position: top-left; /* Center the image */
        background-repeat: repeat-x; /* Do not repeat the image */
          background-size: 30%; /* Resize the background image to cover the entire container */

}

.nav-item ,
.nav-item a {
    color: #DAE0E3;
    background-color: rgba(8, 12, 59, 0.5);
    text-transform: uppercase;
    border:  1px;
} 

.page-content {
    height: 100%;
}
 footer {
 }

 .narrative {
     padding: 40px 20px;
    font-family: "Matterhorn";
    width: 60%;
    margin: auto;/*center*/
 }
 .narrative p:first-of-type::first-line {
     font-variant: all-small-caps;
     font-size: 150%;
     line-height: 90%;
 }
 .narrative p:first-of-type::first-letter {
    text-transform: uppercase;
     font-size: 150%;
     line-height: 90%;
 }

 .q, .a {
     padding: 5px;
     font-style: italic;
 }
 .q {
     padding-top: 15px;
     padding-bottom: 0px;
     font-weight: bold;
 }
.narrative ul {
    list-style: none;
    list-style-image: url('assets/star_single.svg');
    list-style-position: inside;

 }

 /*safely remove padding from bootstrap grid. modified from https://stackoverflow.com/questions/26204283/bootstrap-container-fluid-remove-margins-the-right-way-overflow*/
 .alt-grid .col, .alt-grid [class*="col-"] {padding-left:0;padding-right:0}
 .alt-grid .row {margin-left:0;margin-right:0}
 /* container adjusted */
 .alt-grid.container-fluid {padding:0;}


.alert-info {
    /*background-color: #482E74;*/
}
/* Logo w animation*/


.title-bar {
    font-size: 32pt;
}
.appear-stuck {
    animation: 5s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}



.astrological-input {
    font-size: 20pt;
    text-align: center;
    margin-left: 50px;
    padding-top: 50px;
}
.astrological-output {
    padding-top: 10px;
}
.astrological-input-form {
}

.astrological-output > .illustration {
}

.svg-obj-planetary {
}

.svg-obj-surrogate {
}

.tippy-tooltip.hbwys-theme {
    width: 70%;
}
.tippy-tooltip.hbwystable-theme .tippy-content {
    width: 200px;
}
.form-part,
.form-part > input {
    text-align: center;
}
.form-part > label {
    /*display: inline;*/
    display: block;
}
.form-part > input ,
.form-part > select {
    width:250px;
    border-radius: 10px;
    border: 0;
}
.form-part > select {
    border:0;
    background-color: white;
    padding: 5px;
}
.form-part > input.btnSubmit {
    background-color: #4558de;
    color: white;
    box-shadow: 0 6px 15px 0 rgba(0,0,0,10);
}
.form-list-signs > label.disabled {
    cursor: not-allowed; /*change curser*/
    pointer-events: none; /*makes it so other radio options don't get deselected when this one is clicked*/
}

/*map*/
.gllpMap.gllpMap {
    min-width: 200px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    -webkit-filter: grayscale(85%); /* Safari 6.0 - 9.0 */
    filter: grayscale(85%);
}


.mass-table {
    background-color: white;
    float: left;
    margin: 10px 30px 10px 0;
    padding: 5px;
}
.mass-table td {
    padding: 5px;
    text-align: center;
}
.cosmic-name ,
.earthbound-name {
    font-weight: bold;
}
.intip.cosmic-name ,
.intip.earthbound-name {
    text-align: center;
}

.template.invisible {
    display:none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top:0;;
}


@media only screen and (max-device-width : 480px) {
    /* Styles */
    .astrological-input {
        /*padding-top: 400px;*/
        margin-left:0;
    }
    .astrological-output {
        padding-top: 40px;
    }
    svg.illustration {
        margin-top: 40px;
    }
    footer {
        display: none;
    }
    .title-bar {
    }
}
